@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);



#msg-box4-0 .mbr-header__text {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-0 .mbr-article {
  color: #ffffff;
}
#msg-box4-0 .mbr-article P {
  font-family: 'Lora', serif;
}
#form1-1 .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
}
